body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    position: relative;
    background-image: url(https://images.pexels.com/photos/136320/pexels-photo-136320.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main, header, footer {
    position: relative;
    z-index: 2;
    padding: 20px;
    color: #ffffff; /* Cor do texto clara */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); /* Sombra para legibilidade */
}

/* Restante do seu CSS... */


header {
    color: rgb(0, 255, 55);
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: rgb(22, 160, 4);
    text-decoration: none;
}

main {
    padding: 2rem;
}

footer {
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}